<link rel="stylesheet" href="about.scss">

<div id = "About">

    <div id = "AbtHeader">About:</div>
    <!--  -->

    <div id = "AbtContent">Welcome to Mindfull Journaling, a safe space for you to express how you are feeling. This website 
    is meant as a tool for you to put your thoughts to paper and reflect on them at a later date. To do this, Mindfull 
    Journaling has a lockbox mechanism that stores journal entries over the course of a month and reveals them back to you at 
    the end of each month. 
    This is done as a way for you to reflect on the progress you have made in overcoming self-doubt, stress, anxiety, 
    frustration, and other life turmoil. The journal prompt is universal, meaning that every user will have the same daily 
    prompt as each other user. Due to the sensitive nature of journaling, every entry is encrypted and only acessible by you. 
    Keep in mind that I am in no capacity trained or certified in any heath related or mental-health field, so this website 
    is not meant to be a replacement for proffessional help. If your needs exceed the scope of this wesbite, please reach 
    out to a trained mental-health proffessional.
    </div>
    <!--  -->

</div>