/* You can add global styles to this file, and also import other style files */
body
{
    margin: 0px;
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: -0.6px;
    word-spacing: -0.8px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none; 
}